
.flex-content{
    display: flex;
    margin-bottom: 100px;
    padding: 90px;
   
   
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,rgb(233, 64, 92));
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 400;

}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
    
}
body{
    font-family: 'Cardo', serif;
font-family: 'Poppins', sans-serif;
}
.border-left{
    border-left: 5px solid orange;
    height: 98px;
   border-radius: 7px;
    
    
}
.first-pic{
    padding-left: 150px;
}
h1{
    font-size: 30px;
}
.cyan{
    color: cyan;
    
  
}
.aria{
    padding-top: 100px;
}
.first-s-color{
    color: darkslateblue;
}
.second-s-color{
    color: red;
}
.align-s-h{
    text-align: center;
}
.flex-box{
 
    /* box-shadow: 10px; */
    /* box-shadow: 10px 10px 40px grey; */
    width: 80%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px;

}
.second-slice-box{
    display: flex;
  width: 50%;
  padding: 100px;
}

 .flex-box img{
     width: 150px;
     padding-right:200px;
 }
 .flex-1{
     background-color: rgb(241, 220, 241);
 }
 .flex-2{

    background-color: rgb(214, 236, 234);
 } 
.flex-3{
    background-color: rgb(216, 231, 185);
}  
.flex-content-2{
    display: flex;
  padding: 100px;

  
}
.coding-apha{
    width: 350px;
    /* padding-right: 1000px; */
}
.text1{
    padding-left: 100px;
}
.flex3{
    display: flex;
  
}
.project-pic{
    width:400px;
    /* margin: 150px; */
    margin-left: 400px;
}
.projectpic{
    padding-top: 40px;
    width: 400px;
}
.backimg2{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    padding-bottom: 20px;
    padding-top: 0;
 

}
.purple{
    color: purple;
}
.last-flex{
    display: flex;
    width: 50%;
}
.last-pic{
    width: 400px;
   padding-bottom: 100px;
   margin-left: 500px;
}
.last-p{
    width: 400px;
}